<html>
    <head></head>
    <body>
        <p>Welcome to the Caesar Cipher!</p>
        <form>
            Please enter the text you wish to encrypt: <input type="text" name="message"><br>
            Please enter a number to encrypt by: <input type="text" name="count">
            <input type="submit" value="Cipher!">
        </form>

        <% unless @cipher.nil?%>
            <%= @cipher %>
        <% end %>
    </body>
</html>