<html>
    <head><style>
        body {
            background: blue;
        }
    </style></head>
    <body>
        <p>Welcome to the Caesar Cipher!</p>
        <form>
            Please enter the text you wish to encrypt: <input type="text" name="message"><br>
            Please enter a number to encrypt by: <input type="text" name="count">
            <input type="submit" value="Cipher!">
        </form>
        <% unless @cipher.nil?%>
            <p><%= @cipher %></p>
        <% end %>
    </body>
</html>